.contenedor-mapa{
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 50px;

}

.marco-mapa
{
 border: 2px solid black;
 height: 100%;
}

#map { height: 100%; }